@model Group03_MVC.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg mt-5 mb-5 border-0">
            <div class="card-header bg-primary text-white text-center rounded-top">
                <h3 class="mb-0 py-2">ĐĂNG NHẬP</h3>
            </div>
            <div class="card-body p-4">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Username" class="form-label fw-bold"></label>
                        <input asp-for="Username" class="form-control" placeholder="Tên đăng nhập" />
                        <span asp-validation-for="Username" class="text-danger small"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="form-label fw-bold"></label>
                        <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>
                    <div class="form-group mb-3 form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg w-100 mt-3">ĐĂNG NHẬP</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center bg-light border-0">
                <p class="mb-0">Chưa có tài khoản? <a asp-action="Register" class="text-primary fw-bold text-decoration-none">Đăng ký tại đây!</a></p>
            </div>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



